<div class="wrapper">
    <div class="signup-container">
      <div class="logo-container">
        <img src="../../assets/logo.svg" alt="Logo">
      </div>
      <div class="brand-container">
        <h1>Nexus</h1>
      </div>
      <div class="Signup-container">
        <h2>Create an account</h2>
      </div>
      <div class="form-container">
        <form (ngSubmit)="register()" #signupForm="ngForm" novalidate>
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Full Name" [(ngModel)]="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email address" [(ngModel)]="email" name="email" required>
          </div>
          <div class="form-group password">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="password" name="password" required>
          </div>
          <div class="form-group password">
            <label for="inputConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!signupForm.valid">Sign up</button>
        </div>
        <h4 class="no-account">
            Already have an account?
            <a class="sign-up" [routerLink]="['/login']">Login</a>
          </h4>
      </form>
    </div>
  </div>
</div>

  