<div class="wrapper">
    <div class="choose-drive-container">
      <div class="logo-container">
        <img src="/assets/logo.svg" alt="Logo">
      </div>
      <div class="brand-container">
        <h1>Nexus</h1>
      </div>
      <div class="ChooseDrive-container">
        <h1>Choose your cloud storage provider</h1>
      </div>
      <div class="drive-options">
        <!-- <a> -->
        <a [routerLink]="['/googledriveregister']">
          <img src="../../assets/google-drive.svg" alt="Google Drive Logo" class="google-drive-logo">
        </a>
        <a [routerLink]="['/onedriveregister']">
        <!-- <a> -->
          <img src="../../assets/onedrive.svg" alt="One Drive Logo" class="one-drive-logo">
        </a>
      </div>
    </div>
  </div>
  