<div class="side_bar  position-relative top-0">
    <div class="top-bar pt-5">
        <div class="logo_bar d-flex justify-content-center align-items-center flex-column pt-4">
            <img src="assets/logo.png" alt="logo">
            <h2 class="title">Nexus</h2>
        </div>
       <div class="menu_bar pt-3">
            <ul class="nav flex-column justify-content-center align-items-center px-3">
                <li class="nav-item">
                    <a href="" class="nav-link active" >
                        <img src="assets/Dashboard.svg" alt="Dashboard">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <img src="assets/people.svg" alt="Dashboard">
                        <span>Shared</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <img src="assets/chart.svg" alt="Dashboard">
                        <span>Analytics</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <img src="assets/settings.svg" alt="Dashboard">
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
       </div>
    </div>
    <div class="bottom_bar position-absolute bottom-0 start-0 end-0">

        <div class="feature_mode py-5">
            <ul class="nav  align-items-center justify-content-center pb-5">
                <li class="nav-item">
                    <button type="button " class="border-0 bg-transparent mx-2">
                       <img src="assets/sun.svg" alt="sun">
                    </button>
                </li>
                <li class="nav-item  mx-2">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </li>
                <li class="nav-item  mx-2">
                    <button type="button" class="border-0 bg-transparent">
                        <img src="assets/moon.svg" alt="moon">
                     </button>
                </li>
            </ul>
        </div>

        <div class="copy_right_content py-3">
            <p>© Copyright Version 2023</p>
        </div>
    </div>
</div>
