.right_widdget {
  width: 290px;
  height: 401px;
  left: 1076px;
  top: 104px;
  background: #FFFFFF;
  border: 1px solid #F2F4F7;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 25px;

  .chart-container {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    text-align: center;
  }

  .progressbar {
    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #667085;
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
    }

    .sub-title {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #667085;
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .right_widdget {
    width: 80%;
  }
}
