// Define variables for colors and font sizes
$primary-color: #ff4d40;
$secondary-color: #007bff;
$text-color: #333;
$font-size: 1rem;
$font-family: 'Mulish', sans-serif;

// Define styles for the container
.container {
  max-width: 780px;
  height: 95%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  font-size: $font-size;
  color: $text-color;
  font-family: $font-family;
  border: 1px solid #F2F4F7;
  border-radius: 25px;

  // Styles for user info section
  .user-info {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;

    .user-name {
      margin-bottom: 0.5rem;

      span {
        color: $primary-color;
      }
    }
  }

  // Styles for email section
  .user-email {
    margin-bottom: 1rem;

    .email-address {
      margin-bottom: 0.5rem;

      span {
        color: $primary-color;
      }
    }
  }

  // Styles for support text
  .support-text {
    margin-bottom: 1rem;
    font-weight: bold;
    color: $secondary-color;
  }

  // Styles for password change form
  form {
    margin-bottom: 1rem;

    .new-password-container {
      margin-bottom: 0.5rem;

      .new-password-text {
        display: inline-block;
        margin-right: 0.5rem;
        color: $text-color;
      }

      .new-password-input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid $text-color;
        border-radius: 0.25rem;

        &:focus {
          outline: none;
          border-color: $primary-color;
        }
      }
    }

    .confirm-password-container {
      margin-bottom: 0.5rem;

      .confirm-password-text {
        display: inline-block;
        margin-right: 0.5rem;
        color: $text-color;
      }

      .confirm-password-input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid $text-color;
        border-radius: 0.25rem;

        &:focus {
          outline: none;
          border-color: $primary-color;
        }
      }
    }

    .submit-btn {
      display: block;
      margin-top: 1rem;
      padding: 0.5rem;
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 0.25rem;

      &:hover {
        background-color: #FFE8E3;
      }
    }
  }

  // Styles for password change heading
  .password-change-heading {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: $text-color;
  }
}

.logout-btn {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: $secondary-color;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}