<div class="wrapper">
  <div class="login-container">
    <div class="logo-container">
      <img src="https://cdn.discordapp.com/attachments/1076622791429857313/1076699467010543667/image.png" alt="Logo">
    </div>
    <div class="brand-container">
      <h1>Nexus</h1>
    </div>
    <div class="Loggin-container">
      <h2>Login to dashboard</h2>
    </div>
    <div class="form-container">
      <form action="#" method="POST">
        <div class="form-group">
          <label for="inputEmail">EMAIL</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email address">
        </div>
    
        <div class="form-group">
          <label for="inputPassword">PASSWORD</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    
        <div class="form-group">
          <input type="submit" value="Login">
        </div>
    
        <div class="form-group">
          <a href="#">Forgot Password?</a>
        </div>
      </form>
    </div>    
  </div>
</div>