.side_bar{
    width: 227px;
    height: 100%;
    left: 16px;
    top: 37px;
    background: #FFFFFF;
    border: 1px solid #F2F4F7;
    border-radius: 25px;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);

    .logo_bar{
        .title{
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.4px;
            color: #A4A6B3;
            opacity: 0.7;
            margin-top: 4px;
            font-family: 'Inter', sans-serif;
        }
    }

    .menu_bar{
        .active{
            background: #FFE8E3;
            border: 1px solid #F2F4F7;
            box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
            border-radius: 25px;
        }

        .nav-item{
            border-radius: 25px;
            width: 185px;
            height: 34px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            transition: 0.3s all ease-in;
            border: 1px solid #F2F4F7;
            box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
            border-radius: 25px;
            font-family: 'Inter', sans-serif;
            &:hover{
                    background: #FFE8E3;
                
            }
        }
        .nav-link{
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #667085;
            font-family: 'Inter', sans-serif;

            img{
                height: 24px;
                width: 24px;
                margin-right: 10px;
            }
        }
    }
.bottom_bar {

    img{
        width: 30px;
        height: auto;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F2F4F7;;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #000;
      }
      

      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .copy_right_content{
        text-align: center;
        p{
            font-weight: 600;
            font-size: 8px;
            line-height: 24px;
            color: #667085;
            font-family: 'Inter', sans-serif;
        }
      }

}



}

// .svg {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   animation: erCp50TbjAX1 1s infinite;
// }

@media only screen and (max-width: 1700px) {
  .side_bar {
      width: 100%;
      margin: auto;
  }
}