
<div class="dashboard_area">
    <div class="dashboard py-5 px-4">

          <owl-carousel-o [options]="customOptions"  >
 
            <ng-template carouselSlide *ngFor="let slide of Items">
                <div class="share_folder mb-5">
                    <div [ngClass]="slide.color">
                        <div class="top_line d-flex justify-content-between align-items-center pb-3">
                            <div>
                                <img src="assets/folder.svg" alt="photo">
                            </div>
                            <div>
                                <img src="assets/ellypsis-vertical.svg" alt="photo">
                            </div>
                        </div>
                        <h2 class="title pb-2">{{slide.title}}</h2>
                        <div class="bottom_line d-flex justify-content-between align-items-center">
                            <h3>{{slide.items}}</h3>
                            <h3>{{slide.gb}}</h3>
                        </div>
                    </div>
                </div>
            </ng-template> 
          </owl-carousel-o>

          <div class="quick-access py-5">
            <h2 class="title">
                Quick  Access
            </h2>
            <div class="d-flex align-items-center justify-content-center">
                <div class="access-item ac1 ">
                    <div class="item_bottom position-absolute bottom-0">
                    </div>
                </div>
                <div class="access-item ac2">
                    <div class="item_bottom position-absolute bottom-0">
                    </div>
                </div>
                <div class="access-item ac3">
                    <div class="item_bottom position-absolute bottom-0">
                    </div>
                </div>
            </div>

        </div>
        <div class="recently_uploaded">
            <h2 class="title">Recently Uploaded</h2>
            <div class="upload-item bg_item1">
                <div class="row">
                    <div class="col-4">
                        <p class="file_name">File.jpg</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="storage">2.4 GB</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="server">Google Drive</p>
                    </div>
                </div>
            </div>
            <div class="upload-item bg_item2">
                <div class="row">
                    <div class="col-4">
                        <p class="file_name">File.jpg</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="storage">2.4 GB</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="server">Amazon AWS</p>
                    </div>
                </div>
            </div>
            <div class="upload-item bg_item3">
                <div class="row">
                    <div class="col-4">
                        <p class="file_name">File.jpg</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="storage">2.4 GB</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="server">Microsoft Azure</p>
                    </div>
                </div>
            </div>

            <div class="upload-item bg_item4">
                <div class="row">
                    <div class="col-4">
                        <p class="file_name">File.jpg</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="storage">2.4 GB</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="server">Google Drive</p>
                    </div>
                </div>
            </div>
            <div class="upload-item bg_item5">
                <div class="row">
                    <div class="col-4">
                        <p class="file_name">File.jpg</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="storage">2.4 GB</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="server">Dropbox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--         <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide>
                <div class="share_folder mb-5">
                    <div class="card">
                        <div class="top_line d-flex justify-content-between align-items-center pb-3">
                            <div>
                                <img src="assets/folder.svg" alt="photo">
                            </div>
                            <div>
                                <img src="assets/ellypsis-vertical.svg" alt="photo">
                            </div>
                        </div>
                        <h2 class="title pb-2">Folder 1</h2>
                        <div class="bottom_line d-flex justify-content-between align-items-center">
                            <h3>17 files</h3>
                            <h3>12 GB</h3>
                        </div>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="share_folder mb-5">
                    <div class="card bg1">
                        <div class="top_line d-flex justify-content-between align-items-center pb-3">
                            <div>
                                <img src="assets/folder.svg" alt="photo">
                            </div>
                            <div>
                                <img src="assets/ellypsis-vertical.svg" alt="photo">
                            </div>
                        </div>
                        <h2 class="title pb-2">Folder 1</h2>
                        <div class="bottom_line d-flex justify-content-between align-items-center">
                            <h3>17 files</h3>
                            <h3>12 GB</h3>
                        </div>
                    </div>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="share_folder mb-5">
                    <div class="card bg2">
                        <div class="top_line d-flex justify-content-between align-items-center pb-3">
                            <div>
                                <img src="assets/folder.svg" alt="photo">
                            </div>
                            <div>
                                <img src="assets/ellypsis-vertical.svg" alt="photo">
                            </div>
                        </div>
                        <h2 class="title pb-2">Folder 1</h2>
                        <div class="bottom_line d-flex justify-content-between align-items-center">
                            <h3>17 files</h3>
                            <h3>12 GB</h3>
                        </div>
                    </div>
                </div>
            </ng-template> 


            <ng-template carouselSlide>
                <div class="share_folder mb-5">
                    <div class="card bg3">
                        <div class="top_line d-flex justify-content-between align-items-center pb-3">
                            <div>
                                <img src="assets/folder.svg" alt="photo">
                            </div>
                            <div>
                                <img src="assets/ellypsis-vertical.svg" alt="photo">
                            </div>
                        </div>
                        <h2 class="title pb-2">Folder 1</h2>
                        <div class="bottom_line d-flex justify-content-between align-items-center">
                            <h3>17 files</h3>
                            <h3>12 GB</h3>
                        </div>
                    </div>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="share_folder mb-5">
                    <div class="card bg4">
                        <div class="top_line d-flex justify-content-between align-items-center pb-3">
                            <div>
                                <img src="assets/folder.svg" alt="photo">
                            </div>
                            <div>
                                <img src="assets/ellypsis-vertical.svg" alt="photo">
                            </div>
                        </div>
                        <h2 class="title pb-2">Folder 1</h2>
                        <div class="bottom_line d-flex justify-content-between align-items-center">
                            <h3>17 files</h3>
                            <h3>12 GB</h3>
                        </div>
                    </div>
                </div>
            </ng-template> 
          </owl-carousel-o> -->