<head>
    <title>Nexus</title>
</head>

<body scroll="no" style="overflow: hidden">
    <header>
        <img src="../../assets/landingpage/homelogo.png" class="logo">
        <ul>
            <li><a href="dashboard" class="active">Dashboard</a></li>
            <li><a href="signup">Register</a></li>
            <li><a href="login">Login</a></li>
        </ul>    
    </header>
    
    <img src="../../assets/landingpage/homebg.png" id="homebg">
    <div class="images">
        <section>
            <img src="../../assets/landingpage/homedots.png" id="dots">
            <img src="../../assets/landingpage/homeglobe.png" id="globe">
            <img src="../../assets/landingpage/homelaptop.png" id="laptop">
            <img src="../../assets/landingpage/homehand.png" id="hand">
        </section>
    </div>
    <div class="content">
        <p>Please use a desktop device and login to access the dashboard.</p>
    </div>
</body> 